<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springactionscript.org/schema/objects"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://www.springactionscript.org/schema/objects
				http://www.springactionscript.org/schema/objects/spring-actionscript-objects-1.0.xsd">
    
    <object id="autowiringStageProcessor" 
           class="org.springextensions.actionscript.stage.DefaultAutowiringStageProcessor"/>
       
	<!-- enable use metadata for SpringActionscript event handlers-->
	<object id="eventhandlerProcessor"
		class="org.springextensions.actionscript.ioc.factory.config.EventHandlerMetadataProcessor"/>
      
	<!-- enable manage usual dispatched events -->
	<object id="routeEventsProcessor" 
           class="org.springextensions.actionscript.ioc.factory.config.RouteEventsMetaDataProcessor"/>
           
    <!-- services -->
	<object class="com.ayone.atlas.membership.infrastructure.services.MembershipMockService"/>-->	         
           
	<!-- Mock Tasks 
 	<object id="checkSessionTask" class="com.ayone.atlas.session.infrastructure.tasks.CheckSessionMockTask"/>
	<object id="loginTask" class="com.ayone.atlas.session.infrastructure.tasks.LoginMockTask"/>
	<object id="logoutTask" class="com.ayone.atlas.session.infrastructure.tasks.LogoutMockTask"/> 
	<object id="createTodoCommand" class="com.ayone.atlas.todo.infrastructure.tasks.CreateTodoMockCommand"/>
	<object id="loadProjectsCommand" class="com.ayone.atlas.projectList.infrastructure.tasks.LoadProjectsMockCommand"/>
	<object id="createProjectCommand" class="com.ayone.atlas.projectList.infrastructure.tasks.CreateProjectMockCommand"/>
	<object id="loadTodosCommand" class="com.ayone.atlas.todo.infrastructure.tasks.LoadTodosMockCommand"/> 
	<object id="resolveTodoCommand" class="com.ayone.atlas.todo.infrastructure.tasks.ResolveTodoMockCommand"/>
	<object id="reopenTodoCommand" class="com.ayone.atlas.todo.infrastructure.tasks.ReopenTodoMockCommand"/> --> 
		   
	<!-- Functional area managers -->
	<object id="sessionManager" class="com.ayone.atlas.session.infrastructure.SessionManager"/>
	<object id="projectListManager" class="com.ayone.atlas.projectList.infrastructure.ProjectListManager"/>
	<object id="membershipManager" class="com.ayone.atlas.membership.infrastructure.MembershipManager"/>
	<object id="todoManager" class="com.ayone.atlas.todo.infrastructure.TodoManager"/>
	<!--<object id="assignmentManager" class="com.ayone.atlas.assignment.infrastructure.AssignmentManager"/>
    <object id="discussionManager" class="com.ayone.atlas.discussion.infrastructure.DiscussionManager"/>
	<object id="timeTrackingManager" class="com.ayone.atlas.timeTracking.infrastructure.TimeTrackingManager"/>-->
    
    <object class="com.ayone.atlas.infrastructure.RemoteContext">
  		<property name="endpointUrl" value="http://ayonesoftware.com:8080/atlas/messagebroker/amf"/>
 	</object>
    
</objects>